<link rel="stylesheet" type="text/css" href="http://localhost:8080/cdn/stylesheets/Board.css" />

<main>
    <header>
        <p><strong>Room: </strong>{{roomName}}</p>
    </header>

    <section>
        <h2>Attended</h2>
        <div id="attended" class="target">
            {{#each roomAttended}}
                <div class="point {{userStatus}}">
                    <div class="point-left">
                        <p>{{userNumber}}</p>
                    </div>
                    <div class="point-right">
                        <p>{{userStatus}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <section>
        <h2>Unattended</h2>
        <div id="unattended" class="target">
            {{#each roomUnattended}}
                <div class="point {{userStatus}}">
                    <div class="point-left">
                        <p>{{userNumber}}</p>
                    </div>
                    <div class="point-right">
                        <p>{{userStatus}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</main>

<script src="http://localhost:8080/socket.io/socket.io.js"></script>

<script src="http://localhost:8080/cdn/scripts/Ajax.js"></script>
<script src="http://localhost:8080/cdn/scripts/Selector.js"></script>
<script src="http://localhost:8080/cdn/scripts/Board.js"></script>

<script type="text/javascript">
    const currentBoard = new Board("http://127.0.0.1:8080");

    currentBoard.bind(Selector.validate('#attended')).then(a => {
      
        currentBoard.join(function (joinData, joinPath) {
            window.location.reload();
        });
        
        currentBoard.change(function (changeData, changePath) {
          const changeAjax = new Ajax("GET", changePath);

          changeAjax.open(false, {}).then(function (openData) {
            currentBoard.readAttended(openData.systemNumber).update(changeData.clientStatus);
          });
        });

        currentBoard.leave(function (leaveData) {
          window.location.reload();
        });

    });
</script>
