[REQUESTED: {{room}}]

<style>
    table {
        width: 100%;
    }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <td>{{userId}}</td>
                <td>{{userName}}</td>
                <td>{{userNumber}}</td>
                <td>{{userLocation}}</td>
                <td>{{userDate}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
